$def with (content)
<html>
<head>
    
    <title>highl.it</title>
    
    <link type="text/css" rel="stylesheet" href="/static/css/highlit.css">
    <link type="text/css" rel="stylesheet" href="/static/jquery/css/jquery-ui.css">
    <script type="text/javascript" src="/static/jquery/js/jquery.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/jquery/js/jquery.form.js"></script>
    <script type="text/javascript" src="/static/js/global.js"></script>
    
    $if content.jsfiles:
        $for f in content.jsfiles.split():
            <script type="text/javascript" src="$f"></script>
</head>

<body>
    <div class="logo">
        <span class="logo1">h</span><span class="logo1">i</span><span class="logo1">g</span><span class="logo1">h</span><span class="logo2">l</span><span class="logo2">.</span><span class="logo2">i</span><span class="logo2">t</span>
    </div>

    <div class="center">
        <div class="errorbox">
            <div class="textspace"></div>
        </div>
    </div>

$:content

</body>
</html>

